


<h1> SCISSORS TOOL </h1>

 
  <% if @they == @we %>
      <p style="color: blue"><%= @draw %></p>
    
    <% elsif @they == "scissors" && @we == "paper" %>
      <p style="color: red"><%= @lose %></p> 

    <% elsif @they == "scissors" && @we == "rock"  %>
      <p style="color: green"><%= @win %></p>

    <% elsif @they == "paper" && @we == "rock" %>
      <p style="color: red"><%= @lose %></p>    
    
    <% elsif @they == "paper" && @we == "scissors" %>
      <p style="color: green"><%= @win %></p>

    <% elsif @they == "rock" && @we == "scissors" %> 
      <p style="color: red"><%= @lose %></p>

    <% elsif @they == "rock" && @we == "paper" %>
      <p style="color: green"><%= @win %></p>   

    <% else %>
      <p><%= 1 %></p>    


  <% end %>

  