


<h1> SCISSORS TOOL </h1>

 


    <% if @they == @we_play_scissors %>
      <p style="color: green"><%= "We played #{@we_play_scissors}!" %></p>
      <p style="color: blue"><%= "They played #{@they}!" %></p>   
      <p style="color: green"><%= @draw %></p>   
      
    
    <% elsif @they == "paper" %>
      <p style="color: green"><%= @we_scissors %></p> 
      <p style="color: red"><%= @they_paper %></p>  
      <p style="color: green"><%= @win %></p>   
       

      

    <% elsif @they == "rock" %>
      <p style="color: green"><%= @we_scissors %></p>  
      <p style="color: green"><%= @they_rock %></p>    
      <p style="color: green"><%= @lose %></p>  
      

    <% else %>
      <p><%= 1 %></p> 


    <% end %>


<div><a href="/"> Rules </a></div>
